.root { 
  --main-text-color:#252B42;
  --sub-text-color:#737373;
  --main-font: "Monsterrat";
}

.link {
  padding: 16px 50px;
  border: 1px solid orangered;
  border-radius: 20px;
  color: orangered;
  text-transform: capitalize;
  background-color: inherit;
  margin: 0 auto;
}

.link:hover {
  color: white;
  background-color: orangered;
}

.align-center {
  text-align: center;
}

.lr-pad {
  margin: 0 20px;
}