.sub-title {
  font-size:  44px;
  font-family: var(--main-font);
  padding-top: 72px;
  font-weight: 600;
}


.information-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.wrapper {
  width:80vw;
}

.phone-photos {
  width: inherit;
}

.sub-color-title {
  color: orangered;
  font-family: var(--main-font);
  font-size: 24px;
  
  
}

.bold-text {
  font-size: 40px;
  font-family: var(--main-font);
  font-weight: bold;
  padding: 17px 0px;
}

.short-expression-text {
  font-family: var(--main-font);
  font-size: 24px;
  color: var(--sub-text-color)
}

.usefull-content {
  width: 100%;
}
.information-content:nth-child(2n-1) {
  flex-flow: row-reverse;
}

@media screen and (max-width:575px) {
  .sub-title {
    padding-top: 0;
  }

  .information-content {
    flex-direction: column;
    width: 100%;
  }
  .bold-text,
  .sub-color-title,
  .short-expression-text {
    text-align: center;
  }
}



