.nav-bar {
position: fixed;
background-color: white;
left: 0;
right: 0;
top: 0;
z-index: 10;
border-bottom:  1px solid black;
}

.nav-items {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo-wrapper {
padding: 17px 0 43px 17px;
max-width: 105px;
width: 100%;
height: inherit;
}

.list-wrapper {
  padding-right: 3vw;
  max-width: 40px;
  width: 100%;
  }

.logo,
.nav-button {
  width: inherit;
  height: inherit;
}





@media screen and (min-width:576px) {
  .logo-wrapper {
    padding-bottom: 50px;
    max-width: 140px;
  }
}

@media screen and (min-width:1200px) {
  .logo-wrapper  {
  padding-bottom: 70px;
  max-width: 205px;
}
}