.welcome-screen {
padding-top: 130px;
text-align: center;
font-family: var(--main-font), sans-serif;
}

.welcome-info {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.welcome-app-name {
 color: var(--sub-text-color);
}
.welcome-title {
padding: 17px var(--gutter-size);
color: var(--main-text-color);
font-size: 36px;
font-weight: 700;
}

.welcome-app {
color: var(--sub-text-color);
font-size: 24px;
}