
.welcome-screen {
margin-top: 120px;
font-family: var(--main-font), sans-serif;
}

.welcome-info {
  
  padding: 50px 0;
}

.welcome-app-name {
 color: var(--sub-text-color);
 font-weight: 700;
}
.welcome-title {
padding: 17px var(--gutter-size);
color: var(--main-text-color);
font-size: 36px;
font-weight: 700;
}

.welcome-app {
color: var(--sub-text-color);
font-size: 24px;
font-weight: 500;
}

.btn-links,
.welcome-info {
  display: flex;
  flex-direction: column;
}

.sub-wellcome-wrapper {
  justify-content: center;
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
}

.sub-image {
  height: inherit;
  width: inherit;
}

@media screen and (max-width:575px) {
  .btn-links > .btn + .btn {
    margin-top: 17px;
}
}
@media screen and (min-width:576px) {
  .welcome-screen {
    background-color: grey;
    background-image: url(../images/Rectangle\ 48.jpg);
    padding-bottom: 146px;
    width: 100vw;
    height: 70%;
    background-position: center;
    background-size: cover;
    color: white;
  }

  .btn-links {
    flex-direction: row;
    justify-content: center;
    }
    .link {
      margin: initial;
    }
  .btn-links > .link + .link {
    margin-left: 30px;
  }
  .sub-wellcome-wrapper { 
    margin-top:  -190px;
    border-bottom: 2px solid gray;
  }  
}

@media screen and (min-width:1200px) {
  .welcome-screen {
  margin-top: 170px;
  padding-bottom: 146px;
} 
}